.container-box{display:flex;flex-direction:column;justify-content:space-around;align-items:center;width:100%;height:100%}.select-box{display:flex;justify-content:space-around;align-items:center;height:5vh}
