[data-v-1d113f4e]:export{namespace:v;elNamespace:el}.home[data-v-1d113f4e]{display:flex;align-items:center;justify-content:center;width:100%;height:100%}.home .home-bg[data-v-1d113f4e]{width:70%;margin-bottom:20px}
